:root {
  --main-font: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  --secondary-font: 'Raleway', 'Verdana', 'Tahoma', sans-serif;
  --main-color: #212121;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --gray-color: #757575;
  --background-color-dark: #2f303a;
  --background-color-gray: #f5f4fa;
  --opacity-color: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}



/* ======= COMPONENTS ======= */

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.logo-blue {
  color: var(--blue-color);
}

.address-list-link,
.menu-navigation-list-link,
.logo-link,
.menu-contacts-list-link {
  text-decoration: none;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ======= END COMPONENTS ======= */



/* ======= <HEADER> (MENU NAVIGATION) ======= */

.main-page {
  width: 1600px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 215px;
  padding-right: 227px;
}

.logo-link {
  margin-right: 93px;  
  margin-top: 24px;
  margin-bottom: 24px;
}

.menu-navigation-list-item:nth-child(2) {
  padding-right: 46px;
  padding-left: 64px;
}

.menu-contacts-list-item:first-child {
  padding-right: 50px;
}

.menu-navigation,
.menu-navigation-list,
.menu-contacts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .......................... */

.menu-navigation-list-link,
.menu-contacts-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.menu-contacts-list-link {
  color: var(--gray-color);
}

.menu-navigation-list-link:hover,
.menu-navigation-list-link:focus,
.menu-contacts-list-link:hover,
.menu-contacts-list-link:focus,
.active-link {
  color: var(--blue-color);
}

/* ======= END <HEADER> (MENU NAVIGATION) ======= */

/* ======= <MAIN> (HEADER)  ======= */



.background-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: var(--background-color-dark);
  width: 1600px;
}

.main-header {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-top: 200px;
}

.order-btn {
  width: 200px;
  background: #2196F3;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 200px;

  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: .06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* ======= END <MAIN> (HEADER) ======= */

/* ======= WHY US ======= */

.why-us {
  display: flex;
  justify-content: center;
}
.article-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-top: 94px;
}

.article-list-item {
  margin-left: 15px;
  margin-right: 15px;
}

.article-list-text {
  margin-bottom: 94px;
  margin-top: 10px;
}

.article-list-item:first-child {
  margin-left: 0;
}


.article-list-item:last-child {
  margin-right: 0;
}

/* .......................... */

.article-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.article-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
/* ======= END WHY US ======= */

/* ======= OFFER ======= */

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.offer-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.offer .section-header {
  margin-bottom: 50px;
}

/* ======= END OFFER ======= */

/* ======= TEAM ======= */

.team-list-item {
  background-color: #fff;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 94px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.-list-position {
  margin-bottom: 30px;
}

.team-list-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team .section-header {
  margin-top: 94px;
  margin-bottom: 50px;
}

/* .......................... */

.team {
  background-color: var(--background-color-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 648px; */
}

.team-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;  
  list-style: none;
  justify-content: space-between;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  /* height: 368px; */
}

.team-list-position {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--gray-color);
}
/* ======= END TEAM ======= */

/* =======  CONTACT ======= */

.contact-container {
  margin: 60px auto 60px 215px;
}

/* .address-list  */

.contact {
  display: flex;

  background-color: var(--background-color-dark);
  width: 1600px;
  /* height: 252px; */
}

.logo-link.white {
  margin-bottom: 20px;
}

.address-list-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--opacity-color);
}

.address-list-link:hover,
.address-list-link:focus {
  color: var(--blue-color);
}

.white {
  color: var(--white-color);
}

/* ======= END CONTACT ======= */

/* ===================== portfolio ===================== */

/* ======= PORTFOLIO ======= */

.filter-btn {
  background-color: var(--background-color-gray);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus,
.active-btn {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.examples-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
/* ======= END PORTFOLIO ======= */
